@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: black;
    height: 5vw;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
    color: rgb(245, 31, 29);
    font-family: monospace;
    font-size: 1.3vw;
}

#degradado_barra_foot {
    height: 10vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

main {
    background-color: black;
    background-image: url(../img/TextureBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contenido {
    padding: 0 5%;
}

main h1 {
    font-family: 'Bebas Neue', serif;
    font-size: 6vw;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 2%;
}

table {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

th {
    padding: 1%;
    font-size: 2vw;
    width: 25vw;
    border: #000000 0.2vw solid;
}

td {
    padding: 1%;
    border: #000000 0.2vw solid;
    font-size: 1.5vw;
}

#agregarEmpleadoModal {
    margin: 0 0 2.5%;
    padding: 0 5%;
    background-color: rgb(245, 31, 29);
    color: black;
    align-self: flex-start;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 2vw;
    font-family: monospace;
    border: none;
}

#agregarEmpleadoModal:hover {
    background-color: rgb(125, 19, 17);
}

#contactModal .modal-dialog {
    max-width: 600px !important;
    margin-top: 5vh;
}

#contactModal .modal-content {
    background: #1a1a1a !important;
    border: 0.3vw solid #520308 !important;
    padding: 2vw !important;
    max-height: 90vh;
    overflow-y: auto;
}

#contactModal .modal-header {
    border-bottom: 0.3vw solid #520308 !important;
    padding-bottom: 1vw;
}

#contactModal .modal-title {
    color: #fff;
    font-size: 2.5vw;
    font-family: "Bebas Neue", serif;
    text-transform: uppercase;
}

#contactModal .modal-body label {
    color: #fff;
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 1vw;
}

#contactModal .modal-body input {
    width: 100%;
    padding: 0.8vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    font-size: 1.1vw;
    border: 0.2vw solid #520308;
    background: #2a2a2a;
    color: #fff;
}

#contactModal .modal-footer {
    border-top: none !important;
    padding-top: 0;
    display: flex;
    justify-content: flex-end;
    gap: 0.5vw;
}

#contactModal .btn-primary {
    background: #00cc66 !important;
    color: #000 !important;
    border: none;
    font-family: "Bebas Neue", serif;
    font-size: 1.3vw;
    padding: 1vw 2vw;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.2s, transform 0.2s;
}

#contactModal .btn-secondary {
    background: #888 !important;
    color: #000 !important;
    border: none;
    font-family: "Bebas Neue", serif;
    font-size: 1.3vw;
    padding: 1vw 2vw;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.2s, transform 0.2s;
}

#contactModal .btn-primary:hover,
#contactModal .btn-secondary:hover {
    transform: scale(1.05);
}

@media screen and (max-width:767px) {

    header{
        height: 0;
        overflow: visible;
    }

    main {
        padding: 15vw 0 0;
    }

    main h1 {
        font-size: 12vw;
        text-align: center;
    }

    #contactModal .modal-title {
        font-size: 6vw;
    }

    #contactModal .modal-body label {
        font-size: 4vw;
    }

    #contactModal .modal-body input {
        font-size: 3.5vw;
        padding: 3vw;
    }

    #contactModal .btn-primary,
    #contactModal .btn-secondary {
        font-size: 4vw;
        padding: 3vw 5vw;
    }

}