@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  font-family: 'Arial', sans-serif;
  background-image: url('../img/TextureBackground.jpg');
}

main {
  display: flex;
  min-height: 80vh; 
}

.desarrolladores {
  width: 60%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desarrolladores h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
}

.dev-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.dev-card {
  text-align: center;
  flex: 0 1 30%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 0; 
  overflow: hidden;
  
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.foto:hover img {
  transform: scale(1.1);
}

.dev-card p {
  margin: 10px 0 0;
  font-weight: bold;
  color: white; 
  font-family: 'Bebas Neue', sans-serif;
}

.dev-card span {
  display: inline-block;
  margin-top: 5px;
  background: red;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.imagen-lateral {
  width: 40%;
  display: flex;
}

.imagen-lateral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


footer {
    background-color: black;
    width: 100%;
    height: 5vw;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
    color: rgb(245, 31, 29);
    font-family: monospace;
    font-size: 1.3vw;
    margin-top: 0;
    clear: both;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .desarrolladores {
    width: 100%;
    padding: 15px;
  }

  .desarrolladores h2 {
    font-size: 22px;
    margin-bottom: 20px;
    padding-top: 15%;
  }

  .dev-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }

  .dev-card {
    width: 100%;
  }

  .foto {
    width: 120px;
    height: 120px;
    z-index: -1;
  }

  .imagen-lateral {
    width: 100%;
    height: 75%; 
    margin-top: 20px;
  }


}


@media screen and (max-width: 1024px) and (min-width: 769px) {
  
  .dev-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .desarrolladores {
    width: 100%;
    float: none;
  }

  .imagen-lateral {
    width: 100%;
    float: none;
  }
}