@import url('https://fonts.googleapis.com/css2?family=Bokor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #000000;
    background-image: url('../img/TextureBackground.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    line-height: 1.6;
    position: relative;
}

#degradado_barra_foot {
    height: 10vh;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

footer {
        background-color: black;
        height: 5vw;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 5%;
        color: rgb(245, 31, 29);
        font-family: monospace;
        font-size: 1.3vw;
}

h1 {
    font-family: 'Bebas Neue', serif;
    font-size: 6vw;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 0.4vw;
    text-align: center;
}

p {
    text-align: center;
    line-height: 1.8;
    margin-bottom: 5.5vw;
    font-size: 2.01vw;
    margin-left: auto;
    margin-right: auto;
}


#contenido {
    margin: 0 auto;
    padding: 0 5%;
}

.timeline-contenedor {
    position: relative;
    margin: 0 auto;
    padding: 2.2% 0;
    padding-left: 5.25%;
}

.timeline-contenedor::before {
    content: '';
    position: absolute;
    left: 2%;
    top: 14.5vw;
    bottom: 19.5vw;
    width: 0.5vw;
    background: linear-gradient(to bottom, #69050b, #69050b);
    z-index: 1;
}

.timeline-card {
    display: flex;
    margin-bottom: 3.6vw;
    align-items: flex-start;
    gap: 3.6vw;
    position: relative;
    z-index: 10;
}

.timeline-card::before {
    content: '';
    position: absolute;
    left: -4.1%;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25vw;
    height: 1.25vw;
    background-color: #69050b;
    border: 0.2vw solid #ffffff;
    border-radius: 50%;
    z-index: 5;
}

.timeline-card:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline-card:nth-child(even)::before {
    width: 1.25vw;
    height: 1.25vw;
    background-color: #ffffff;
    border: 0.2vw solid #69050b;
    left: -4.1%;
    z-index: 5;
}

.timeline-card>div {
    font-family: 'Bebas Neue', serif;
    font-size: 2.5vw;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    background-color: #69050b;
    padding: 1.5%;
    align-self: center;
    border: 0.3vw solid #000000;
}

.timeline-contenido {
    background-color: #69050b !important;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: stretch;
    padding: 0;
}

.timeline-img {
    width: 25vw;
    height: 20vw;
    object-fit: cover;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    background-color: #69050b;
}

.timeline-contenido p {
    font-family: monospace;
    text-align: justify;
    padding: 1vw;
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    line-height: 1.6;
    font-size: 1.05vw;
    color: #ffffff;
    font-weight: 200;
    background-color: transparent;
    width: 80vw;
}

#btnAgregarEvento {
    background: #00cc66;
    color: #000;
    padding: 2vw 4vw;
    font-size: 2.5vw;
    font-family: 'Bebas Neue', serif;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: block;
    margin: 2vw auto;
    transition: transform 0.2s;
}

#btnAgregarEvento:hover {
    transform: scale(1.05);
}

.botones-admin {
    text-align: center;
    padding: 1vw;
    background: rgba(0, 0, 0, 0.8);
    margin-top: 1vw;
}

.botones-admin button {
    padding: 1.2vw 2.5vw;
    margin: 0.5vw;
    border: none;
    cursor: pointer;
    font-size: 1.8vw;
    font-family: 'Bebas Neue', serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.2s;
}

.botones-admin button:hover {
    transform: scale(1.05);
}

.btn-editar {
    background: rgb(252, 207, 2);
    color: #000;
}

.btn-eliminar {
    background: rgb(131, 19, 17);
    color: #fff;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #btnAgregarEvento {
        font-size: 4.5vw;
        padding: 2.5vw 5vw;
    }

    .botones-admin button {
        font-size: 2.5vw;
        padding: 2vw 4vw;
        margin: 1vw;
    }
}

@media screen and (max-width: 768px) {

    #contenido {
        margin: 0 auto;
        padding: 10vw 5% 5vw;
    }

    header {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: auto; 
        min-height: 0; 
        z-index: 9999; 
        margin: 0;
        padding: 0;
    }
    
    .timeline-contenedor{
        padding: 0 3%;
    }

    .timeline-contenedor::before {
        display: none;
    }

    .timeline-card::before,
    .timeline-card:nth-child(even)::before {
        display: none;
    }

    .timeline-card {
        flex-direction: column;
        align-items: center;
        gap: 1vw;
    }

    .timeline-card:nth-child(even) {
        flex-direction: column;
    }

    .timeline-contenido {
        flex-direction: column;
        order: 2;
    }

    .timeline-card>div {
        font-size: 5vw;
        order: 1;
        width: 100%;
    }

    .timeline-img {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .timeline-contenido p {
        font-size: 2.3vw;
        padding: 1.5vw 2vw;
        margin: 0 auto;
    }

    h1 {
        padding: 0 0 3%; 
        font-size: 9vw;
    }

    #btnAgregarEvento {
        font-size: 10vw;
        padding: 3vw 6vw;
        width: 90%;
        margin: 4vw auto;
    }

    .botones-admin {
        display: flex;
        justify-content: space-between;
        gap: 0;
        padding: 0;
        margin-top: 0;
        width: 100%;
    }

    .botones-admin button {
        font-size: 8vw;
        padding: 3vw 0;
        margin: 0;
        flex: 1;
        border-radius: 0;
    }

    .btn-editar {
        border-right: 0.2vw solid #000;
    }
}