* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


#portada_galeria {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

#imagen_portada_galeria {
    width: 100%;
    height: 100%;
}

#imagen_portada_galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#degradado_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 1;
    pointer-events: none;
}


.galeria-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    list-style: none;
    width: 100%;
}

@media (min-width: 768px) {
    .galeria-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .galeria-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.galeria-grid li {
    width: 100%;
    height: 400px;
}

.galeria-grid li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.galeria-grid li:hover img {
    transform: scale(1.05);
    z-index: 2;
    position: relative;
}

footer {
    background-color: black;
    width: 100%;
    height: 5vw;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
    color: rgb(245, 31, 29);
    font-family: monospace;
    font-size: 1.3vw;
}


@media screen and (max-width: 768px) {
    footer {
        height: 8vw;
        font-size: 3vw;
    }
}

#btnMostrar {
    z-index: 10001;
}
