html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #000000;
  background-attachment: scroll;
  font-family: 'Bebas Neue', sans-serif;
}

#portada {
  background-image: url("../img/backgrounddiscography2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vw;
}

#date1 button,
#date2 button,
#date3 button,
#date4 button,
#date5 button {
  appearance: none;
  background: transparent;
  color: rgb(245, 31, 29);
  border: 0.15vw solid rgb(245, 31, 29);
  font-family: 'Bebas Neue', sans-serif;
  padding: 1vw 5vw;
  font-size: 3vw;
}

#date1,
#date2,
#date3,
#date4,
#date5 {
  color: rgb(245, 31, 29);
  display: flex;
  align-items: center;
  gap: 5vw;
  margin: 0 8vw;
  padding-top: 5vw;
  border-bottom: 0.15vw solid rgb(245, 31, 29);
  padding-bottom: 3vw;
  font-size: 1.1vw;
  font-weight: bold;
}

#dates {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 5vw;
}

.col-fecha {
  width: 15vw;
}

footer {
  background-color: black;
  height: 5vw;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  color: rgb(245, 31, 29);
  font-family: monospace;
  font-size: 1.3vw;
}


